<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Online Installer</Name>
    <Version>1.0.0</Version>
    <Title>Online Installer Example</Title>
    <StartMenuDir>QtWorldSummit2015</StartMenuDir>
    <TargetDir>@ApplicationsDir@/QtWorldSummit2015/Online</TargetDir>
    <RemoteRepositories>
	<Repository>
	    <Url>http://localhost/repository/</Url>
	</Repository>
    </RemoteRepositories>
</Installer>
