<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Online Installer 1.0</Name>
    <Title>Online Installer Example</Title>
    <Version>1.0.0</Version>
    <TargetDir>@HomeDir@/QtWorldSummit2015/Online</TargetDir>

    <RemoteRepositories>
        <Repository>
            <Url>http://localhost/repository/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
